<h2>Правила пользования игрой «Три в ряд»:</h2>
<ol>
  <li> Для того, что бы передвинуть камешек вам необходимо выделить нужный вам элемент, а затем выделить соседний
    элемент на место которого вы хотите его переставить. </li>
  <li> За каждую собранную коллекцию камешков вам начисляется 100 баллов. Счет отображается снизу. Ограничения по
    количеству набранных баллов нет. Все зависит от вашей сноровки и удачи.</li>
  <li> Игра оканчивается в тот момент, когда вероятность будущих совпадений равна нулю, либо в момент когда вы решаете
    завершить игру самостоятельно.</li>
  <li> Вы можете сохранить свой рекорд в любой момент.</li>
  <li> Вы можете посмотреть во вкладке TOP количество набранных вами очков, а так же посмотреть сколько очков набрали другие игроки.
  </li>

</ol>