<h1>Игра "Три в ряд"</h1>
<!-- <div id="form"><input type="text" placeholder="name" id="name" /><button id="send">Save</button></div> -->
<!-- <div id="app">
  <form action="">
    <label for="email">
      Name
      <input type="text" name="" id="email" />
    </label>
    <label for="password">
      Score
      <input type="text" name="" id="password" />
    </label>
    <button id="btn">Login</button>
  </form>
</div> -->

<!-- <div id="leaderboard"></div> -->
<canvas id="mycanvas" width="455" height="455"></canvas>

